---
const description = "404";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <layout>
      <div class="lost">
        <h1 class="lost__header">{description}</h1>
        <p class="lost__body">
          Saludos, viajero/a! La página que buscas parece haber desaparecido.
          Déjame guiarte de regreso a la seguridad.
        </p>
        <p>
          <a class="lost__link" href="/">Regresar a Inicio</a>
        </p>
      </div>
    </layout>
  </body>
</html>
