---
const year = new Date().getFullYear();
---

<footer>
  <div class="center">
    <small
      >&copy; {year} carlos-montanez
      <a class="footer__link" href="https://github.com/montanez8">montanez8</a>
    </small>
  </div>
</footer>
