---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="navbar">
  <div class="navbar__menu">
    <a href="https://github.com/montanez8" target="_blank">GitHub</a>
    <a href="/public/Carlos Arturo Montañez Riodriguez.pdf" download
      >Descargar cv</a
    >
    <ThemeIcon />
  </div>
</div>
