---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="navbar">
  <div class="navbar__menu">
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#estudios">Estudios</a>
    <!-- <ThemeIcon /> -->
  </div>
</div>
